{% extends 'base.html.twig' %}

{% block body %}

    <div id="main">
    	<div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="panel">
              <div class="panel-header">
                <h2><i class="fa fa-info-circle"></i> O projekcie</h2>
              </div>

              <div class="panel-content">
                <h3>Opis wymagań projektu:</h3>
                <p>
                  Projekt realizowany w ramach zajęć z Technologii Aplikacji Serwerowych.
                </p>
                <p>
                  W ramach projektu należy stworzyć aplikację wielowarstwową korzystającą z wybranych technologii serwerowych.<br>
                  Aplikacja powinna spełniać następujące wymagania:
                </p>
                <ul>
                  <li>posiadać webową oraz mobilną warstwę interfejsu użytkownika</li>
                  <li>posiadać warstwę biznesową</li>
                  <li>posiadać warstwę dostępu do bazy danych</li>
                  <li>wykorzystywać do komunikacji pomiędzy warstwami interfejsy zdalne, w sczególności: </li>
                    <ul>
                      <li>warstwa webowa i mobilna powinny odwoływać się do warstwy biznesowej za pośrednictwem technologii zdalnego wywoływania procedur lub wzorca architektury REST</li>
                        <li>warstwa dostępu do bazy danych powinna odwoływać się do systemu baz danych niezależnego od warstwy webowej i biznesowej (czyli nie korzystamy z baz „osadzonych”)</li>
                    </ul>
                </ul>
                <p>
                  <h3>Księgarnia - funkcjonalność:</h3>
                  <ul>
                    <li>Dodawanie książek razem z opisem, spisem treści, zdjęciem okładki</li>
                    <li>Wyszukiwanie dostępnych książek</li>
                    <li>Obsługa koszyka i składanie zamówienia</li>
                    <li>Opcja zakupu i/lub wypożyczenia ebooków </li>
                  </ul>
                </p>
                <h3>Zastosowane technologie:</h3>
                <div class="row">
                  <div class="col-md-4">
                    <ul>
                      <li><img src="../uploads/logos/symfony.png" alt="" />Symfony3 PHP Framework</li>
                      <li><img src="../uploads/logos/doctrine.png" alt="" />Doctrine ORM</li>
                      <li><img src="../uploads/logos/twig.png" alt="" />Twig Templates Engine</li>
                    </ul>
                  </div>
                  <div class="col-md-4">
                    <ul>
                      <li><img src="../uploads/logos/jquery.png" alt="" />JQuery Framework</li>
                      <li><img src="../uploads/logos/bootstrap.png" alt="" />Bootstrap 3 Framework</li>
                    </ul>
                  </div>
                  <div class="col-md-4">
                    <ul>
                      <li><img src="../uploads/logos/js.png" alt="" />JavaScript</li>
                      <li><img src="../uploads/logos/css3.png" alt="" />CSS 3</li>
                      <li><img src="../uploads/logos/html5.png" alt="" />HTML 5</li>
                    </ul>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
    	</div>
    </div>

{% endblock %}
