{% extends 'base.html.twig' %}

{% block body %}

{% include 'default/header.html.twig' %}

    <div id="main">
    	<div class="container">
    		<div class="row">
    			<div class="col-md-6">
    				<div class="panel panel-default">
						  <div id="sign-up" class="tab-pane fade in active">
						    <h3>Dodaj ksiazke</h3>
						    <form action="/add" method="POST">
						      <div class="form-group">
							    <label for="title">Tytul:</label>
							    <input type="text" name="title" class="form-control" id="title">
							  </div>
							  <div class="form-group">
							    <label for="author">Autor:</label>
							    <input type="text" name="author" class="form-control" id="author">
							  </div>
                <div class="form-group">
							    <label for="category">Kategoria:</label>
                  <select class="form-control" name="category" id="category">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                  </select>
							  </div>
                <div class="form-group">
							    <label for="type">Rodzaj:</label>
                  <select class="form-control" name="type" id="type">
                    <option>Ksiazka papierowa</option>
                    <option>E-book</option>
                  </select>
							  </div>
                <div class="form-group">
							    <label for="publisher">Wydawnictwo:</label>
                  <input type="text" name="publisher" class="form-control" id="publisher">
							  </div>
                <div class="form-group">
							    <label for="date">Rok wydania:</label>
                  <input type="number" min="0000" max="2016" name="date" class="form-control" id="date">
							  </div>
                <div class="form-group">
							    <label for="bestseller">Bestseller: <input type="checkbox" name="bestseller" id="bestseller"></label>
							  </div>
                <div class="form-group">
                  <label for="new">Nowosc: <input type="checkbox" name="new" id="new"></label>      
                </div>
                <div class="form-group">
							    <label for="description">Description:</label>
							    <textarea name="description" class="form-control" id="description" rows="8" cols="40"></textarea>
							  </div>
                <div class="form-group">
							    <label for="price">Cena:</label>
                  <input type="number" name="price" class="form-control" id="price">
							  </div>
							  <button type="submit" class="btn btn-default"><i class="fa fa-plus-circle"></i> Dodaj</button>
							</form>
						  </div>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>

{% endblock %}
