{% extends 'base.html.twig' %}

{% block body %}

{% include 'default/header.html.twig' %}

              <div class="col-md-3 col-sm-6 panel panel-default book-preview">
                <ul>
                  <li><img src="../images/logo.png" alt="" /></li>
                  <li>Tytuł: {{book.title}}</li>
                  <li>Autor: {{book.author}}</li>
                  <li>Cena: {{book.price}}</li>
                  <li><button type="button" name="button">Dodaj do koszyka</button></li>
                  <a href="/books/{{book.id}}">Szczegoly</a>
                </ul>
              </div>


{% endblock %}
