{% extends 'base.html.twig' %}

{% block body %}

    <div id="main">
      {% include 'default/alert.html.twig' %}
    	<div class="container">
        <div class="row">
          {% include 'default/sidebar.html.twig' %}
          <div class="col-md-9">
            <div class="panel">
              <div class="panel-header">
                <h2>Kategoria: {{category}}</h2>
              </div>
              <div class="panel-content">
                <div class="row">
                  {% for book in books %}
                    {% include 'default/book-preview.html.twig' %}
                  {% endfor %}
                </div>
              </div>
              <ul class="pagination"></ul>
            </div>
          </div>
        </div>
    	</div>
    </div>

{% endblock %}
