{% extends 'base.html.twig' %}

{% block body %}

    <div id="main">
    	<div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-default">
              <hr class="style14">
              <h2 class="headline-font text-center">Kontakt</h2>
              <hr class="style14">
              <div class="row">
                <div class="col-md-6">
                  <h3>Aplikacja webowa:</h3><br>
                  <p>
                    <b>Imię i nazwisko: </b>Mateusz Piotrowicz<br>
                    <b>Stanowisko:</b> Backend Developer<br>
                    <b>E-mail: </b><a href="mailto:piotrowiczmateusz@onet.pl">piotrowiczmateusz@onet.pl</a>
                  </p><br>
                  <p>
                    <b>Imię i nazwisko: </b><br>
                    <b>Stanowisko:</b> <br>
                    <b>E-mail: </b>
                  </p><br>
                  <p>
                    <b>Imię i nazwisko: </b><br>
                    <b>Stanowisko:</b> <br>
                    <b>E-mail: </b>
                  </p>
                </div>
                <div class="col-md-6">
                  <h3>Aplikacja mobilna:</h3><br>
                  <p>
                    <b>Imię i nazwisko: </b><br>
                    <b>Stanowisko:</b> <br>
                    <b>E-mail: </b>
                  </p><br>
                  <p>
                    <b>Imię i nazwisko: </b><br>
                    <b>Stanowisko:</b> <br>
                    <b>E-mail: </b>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
    	</div>
    </div>

{% endblock %}
