{% extends 'base.html.twig' %}

{% block body %}

<script language="javascript">

$(function() {

    var books = $.parseJSON('{{ books | raw }}');

    $("#search").on("input", function() {

        var search = $("#search").val();
        var searchBy = $("#searchBy").val();
        var result = "";

        if (search.length > 0) {

            for (var i = 0; i < books.length; i++) {
              if(searchBy == "Tytuł") {
                if (books[i].title.toUpperCase().startsWith(search.toUpperCase())) {
                    result += "<div class='search-book'><a href='/books/" + books[i].id + "'>" + books[i].title + " - " + books[i].author + "</a></div>";
                }
              } else if (searchBy == "Autor") {
                if (books[i].author.toUpperCase().startsWith(search.toUpperCase())) {
                    result += "<div class='search-book'><a href='/books/" + books[i].id + "'>" + books[i].author + " - " + books[i].title + "</a></div>";
                }
              }
            }
        } else {
          result = "";
        }
          $("#result").html(result);
    });
});
</script>

    <div id="main">
    	<div class="container">
        <div class="row">
          <div class="col-md-12">
            <div id="search-container">
              Szukaj wg:
              <select id="searchBy">
                <option>Tytuł</option>
                <option>Autor</option>
              </select>
              <input id="search" class="form-control" type="text" autocomplete="off" placeholder="Szukaj książki..." onfocus="this.placeholder = ''" onblur="this.placeholder = 'Szukaj książki...'">
              <div id="result"></div>
            </div>
          </div>
        </div>
        <div class="row">
          {% include 'default/sidebar.html.twig' %}
          <div class="col-md-9">
            {% if name is defined and name is not empty %}
            <div class="row">
              <div class="col-md-12">
                <div id="hello-panel" class="panel panel-default">
                  <hr class="style14">
                  <div class="headline-font text-center"> Witaj, <strong>{{name}}</strong></div>
                  <hr class="style14">
                </div>
              </div>
            </div>
            {% endif %}
            <div class="row">
              <div class="col-md-12">
                <div class="panel panel-default">
                  <hr class="style14">
                  <h2 class="headline-font text-center">Bestsellery</h2>
                  <hr class="style14">
                  <div class="row">
                    <section class="regular">
                    {% for book in bestsellers %}
                      {% include 'default/book-preview.html.twig' %}
                    {% endfor %}
                    </section>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="panel panel-default">
                  <hr class="style14">
                  <h2 class="headline-font text-center">Nowości</h2>
                  <hr class="style14">
                  <div class="row">
                    <section class="regular">
                    {% for book in novelties %}
                      {% include 'default/book-preview.html.twig' %}
                    {% endfor %}
                    </section>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    	</div>
    </div>

{% endblock %}
