{% extends 'base.html.twig' %}

{% block body %}

<script language="javascript">

$(function() {

    var books = $.parseJSON('{{ books | raw }}');

    $("#search").on("input", function() {

        var search = $("#search").val();
        var searchBy = $("#searchBy").val();
        var result = "";

        if (search.length > 0) {

            for (var i = 0; i < books.length; i++) {
              if(searchBy == "Tytuł") {
                if (books[i].title.toUpperCase().startsWith(search.toUpperCase())) {
                    result += "<div class='search-book'><a href='/books/" + books[i].id + "'>" + books[i].title + " - " + books[i].author + "</a></div>";
                }
              } else if (searchBy == "Autor") {
                if (books[i].author.toUpperCase().startsWith(search.toUpperCase())) {
                    result += "<div class='search-book'><a href='/books/" + books[i].id + "'>" + books[i].author + " - " + books[i].title + "</a></div>";
                }
              }
            }
        } else {
          result = "";
        }
          $("#result").html(result);
    });
});
</script>

    <div id="main">
      {% include 'default/search.html.twig' %}
      {% include 'default/alert.html.twig' %}
    	<div class="container">
        <div class="row">
          {% include 'default/sidebar.html.twig' %}
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-12">
                <div class="panel">
                  <div class="panel-header">
                    <h2><i class="fa fa-star"></i> Bestsellery</h2>
                  </div>
                  <div class="panel-content">
                    <div class="row">
                      <section class="regular">
                      {% for book in bestsellers %}
                        {% include 'default/book-preview.html.twig' %}
                      {% endfor %}
                      </section>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="panel">
                  <div class="panel-header">
                    <h2><i class="fa fa-exclamation"></i> Nowości</h2>
                  </div>
                  <div class="panel-content">
                    <div class="row">
                      <section class="regular">
                      {% for book in novelties %}
                        {% include 'default/book-preview.html.twig' %}
                      {% endfor %}
                      </section>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    	</div>
    </div>

{% endblock %}
