{% block body %}
<footer>
  <div class="container">
    <div class="row">      
      <div class="col-md-12">
        <nav>
          <ul>
            <li><a href="#">O projekcie</a></li>
            <li><a href="#">Kontakt</a></li>
            <li><a href="#">Repozytorium</a></li>
            <li><a href="#">Pomoc</a></li>
            <div class="signature">
              <h5>&copy; 2016. TAS - Księgarnia.</h5>
            </div>
          </ul>          
        </nav>
      </div> 
    </div>
  </div>
</footer>

{% endblock %}
