{% block body %}
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <nav>
          <ul>
            <li><a href="/about">O projekcie</a></li>
            <li><a href="/contact">Kontakt</a></li>
            <li><a href="https://github.com/xmarianF/TAS-Ksiegarnia" target="_blank">Repozytorium</a></li>
            <li><a href="/help">Pomoc</a></li>
          </ul>
        </nav>
      </div>
      <div class="col-md-4">
        <div class="signature">
          <h5>&copy; 2016. TAS - Księgarnia.</h5>
        </div>
      </div>
    </div>
  </div>
</footer>

{% endblock %}
