{% block body %}

<div id="footer">
    <div class="container">
        <div class="row">
           <div class="col-md-6">
           			<a href="https://github.com/xmarianF/TAS-Ksiegarnia">Repozytorium GitHub</a>
            </div>
            <div class="col-md-6">
              2016
            </div>
        </div>
    </div>
</div>

{% endblock %}
