{% block body %}

<div id="header">
    <div class="container">
        <div class="row">
           <div class="col-md-12">
           		<div class="navbar navbar-default">
           			<h1><a href="/">TAS Projekt - Księgarnia</a></h1>
           		</div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
