{% block body %}
<header>
	<div class="container">
		<div class="row">
			<div class="col-md-4 left">

					<span><img id="logo" src="images\logo.png"></span>
					<a href="/" class="text-bold font-serif font-size-3 color-name double-space">Księgarnia</a>

			</div>
			<div class="col-md-8 right">
				<nav>
					<ul>

						{% if name is defined and name is not empty %}

						<li class="drop">
							<i class="fa fa-user"></i>
							<a href="#" class="text-bold font-serif cursor-pointer color-action font-size-4 single-space">Moje konto</a>
							<div class="dropdownContain">
								<div class="dropOut">
									<div class="triangle"></div>
									<ul>
										<i style="float: left;" class="fa fa-plus-circle"></i>
										<li>Dodaj książkę</li>
										<li>Moje dane</li>
										<li>Ustawienia</li>
										<li>Wyloguj</li>
									</ul>
								</div>
							</div>
						</li>
						<li>
							<i class="fa fa-shopping-cart"></i>
							<a href="#" class="text-bold font-serif cursor-pointer color-action font-size-4">Koszyk</a>
						</li>


						{% else %}
						<li>
							<i class="fa fa-plus-circle"></i>
							<a href="/registration-form" class="text-bold font-serif cursor-pointer color-action font-size-4">Zarejestruj się</a>
						</li>
						<li>
							<i class="fa fa-user"></i>
							<a href="/login-form" class="text-bold font-serif cursor-pointer color-action font-size-4">Zaloguj się</a>
						</li>
						{% endif %}
					</ul>
				</nav>
			</div>
		</div>
	</div>

</header>
{% endblock %}
