{% block body %}
<header>
	<div class="container">
		<div class="row">
			<div class="col-md-4 left">
				<span><img id="logo" src="images\logo.png" /></span>
				<a href="/" class="text-bold font-serif font-size-3 color-action single-space">Księgarnia</a>
			</div>
			<div class="col-md-8 right">
				<nav  id="header-nav">					
					<ul>

					{% if name is defined and name is not empty %}
					<li class="dropdown">
						<i class="fa fa-user"></i>
						<a id="my-account" href="#" class="text-bold font-serif cursor-pointer color-action font-size-4 small-space">Moje konto</a>	
						<div class="dropdown-content">
							<a href="#">Dodaj książkę</a>
							<a href="#">Moje dane</a>
							<a href="#">Ustawienia</a>
							<a href="#">Wyloguj</a>
						</div>					
					</li>

					<li>
						<i class="fa fa-shopping-cart double-space"></i>
						<a href="#" class="text-bold font-serif cursor-pointer color-action font-size-4 small-space">Koszyk</a>						
					</li>
					
					{% else %}
					
						<li>
							<a href="/registration-form" class="text-bold font-serif cursor-pointer color-action font-size-4">rejestracja</a>
						</li>
						<li>
							<a href="/login-form" class="text-bold font-serif cursor-pointer color-action font-size-4 double-space">logowanie</a>
						</li>
					
					{% endif %}

					</ul>
				</nav>
			</div>
		</div>
	</div>
</header>
{% endblock %}
