{% block body %}

<div id="header">
    <div class="container navbar navbar-default">
        <div class="row">
           <div class="col-md-6">
           		<div class="">
           			<h1><a href="/">TAS Projekt - Księgarnia</a></h1>
           		</div>
            </div>
            <div class="col-md-6">
              <a href="/add-book"><i class="fa fa-plus-circle"> Dodaj ksiazke</i></a>
              <a href="/cart"><i class="fa fa-shopping-cart"> Koszyk</i></a>
              <a href="/my-account"><i class="fa fa-user"> Moje konto</i></a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
