{% extends 'base.html.twig' %}

{% block body %}

    <div id="main">
    	<div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-default">
              <hr class="style14">
              <h2 class="headline-font text-center">Pomoc</h2>
              <hr class="style14">
            </div>
          </div>
        </div>
    	</div>
    </div>

{% endblock %}
