{% extends 'base.html.twig' %}

{% block body %}

<div id="registration-form">
	<div class="container reg-form-position">
		<div class="row">
			<div class="col-md-6 col-centered">
				<div class="registration-box">
					<h2>Rejestracja</h2>
						{{ form_start(form) }}
						{{ form_widget(form) }}
						{{ form_end(form) }}
					<div class="goto-login">
						<a href="/login-form">Masz już konto? Zaloguj się!</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
