{% block body %}

<div id="search-container">
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <input id="search" class="form-control" type="text" autocomplete="off" placeholder="Szukaj książki..." onfocus="this.placeholder = ''" onblur="this.placeholder = 'Szukaj książki...'">
        <div id="result"></div>
      </div>
      <div class="col-md-2">
        <select id="searchBy">
          <option>Tytuł</option>
          <option>Autor</option>
        </select>
      </div>
    </div>
  </div>
</div>

{% endblock %}
