{% block body %}

<div class="col-md-3">
  <div class="panel panel-default">
    <ul>
      {% for category in categories %}
      <li><a href="/categories/{{category.id}}">{{category.title|e}}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>

{% endblock %}
