/* FOOTER */
footer{
  width: 100%;
  height: 80px;
  line-height: 80px;
  vertical-align: middle;
  bottom: 0;
  background-color: #080808;
}

footer nav{
  text-align: left;
}

footer nav ul{
  margin-right: 15px;
  margin-bottom: 0;
}

footer nav ul li{
  height: 80px;
  margin-left: 20px;
  display: inline-block;
  list-style: none;
}

footer nav ul li a{
  font-family: Lato;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: #FFE8BD;
}

footer nav ul li a:hover{
  color: #B29661;
}

footer nav ul li a:active{
  color: #B29661;
}

.signature{
  margin-left: 80px;
  display: inline-block;
  list-style: none;
}

.signature > h5{
  font-family: Lato;
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
}
