/*--------------------------------------
-------FOOTER--------
--------------------------------------*/

#footer {
    width: 100%;
    min-height: 80px;
    line-height: 80px;
    vertical-align: middle;
    bottom: 0;
}

#footer nav {
    text-align: left;
}

#footer nav ul {
    padding: 0;
    margin-right: 15px;
    margin-bottom: 0;
}

#footer nav ul li {
    height: 80px;
    display: inline-block;
    list-style: none;
    margin-left: 0;
    margin-right: 10px;
}

#footer nav ul li::after {
    content: "|";
    color: #fff8b1;
    padding-left: 10px;
}

#footer ul li:last-of-type::after {
    content: ""
}

#footer nav ul li a {
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    color: #FFE8BD;
}

#footer nav ul li a:hover, #footer nav ul li a:active, #footer nav ul li a:focus {
    color: #fff;
}

.signature {
    margin-left: 80px;
    display: inline-block;
    list-style: none;
}

.signature> h5 {
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    height: 80px;
    line-height: 80px;
    vertical-align: middle;
    margin: 0 auto;
}
