/* --------------------------------------
----------------HEADER------------------
---------------------------------------*/

#header {
    min-height: 60px;
    width: 100%;
    position: fixed;
    z-index: 99999;
    top: 0;
}

#header i {
    color: #f5f5f5;
    margin-right: 7px;
}

#header a {
    color: #fff8b1;
}

#header h1 {
    display: inline-block;
    margin: 0 auto;
    height: 60px;
    line-height: 60px;
    vertical-align: middle;
}

#header ul {
  margin: 0 auto;
}

#header ul li {
  display: inline-block;
  line-height: 60px;
}

#header, #footer {
    background: #222;
}

#header a, #footer a {
    -webkit-transition: all 100ms linear;
    -moz-transition: all 100ms linear;
    -ms-transition: all 100ms linear;
    -o-transition: all 100ms linear;
    transition: all 100ms linear;
}

#header a:hover, #footer a:hover {
    text-decoration: none;
    color: #fff;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #222;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
    line-height: 40px;
    text-align: left;
    color: #FFE8BD;
    padding-left: 15px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #080808;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.cart-length {
    background: #f5f5f5;
    color: #222;
    height: 26px;
    line-height: 26px;
    width: 26px;
    border-radius: 13px;
    vertical-align: middle;
    margin-left: 10px;
    display: inline-block;
    text-align: center;
}
