/* 
   *---------------------------------------*
   | Project: TAS Projekt                  |
   *---------------------------------------*
   | Version: 0.1                          |
   *---------------------------------------*
   | Author: Mateusz Piotrowicz            |
   *---------------------------------------*
 */
/* -------------------------------
   GLOBAL 
---------------------------------- */
* {
  margin: 0;
  padding: 0; }

.left {
  float: left; }

.right {
  float: right; }

/* -------------------------------
   HEADER 
---------------------------------- */
.navbar h1 {
  text-align: center;
  margin-bottom: 20px; }

.tab-pane,
.panel {
  padding: 15px; }

/* -------------------------------
   NAVIGATION 
---------------------------------- */
/* -------------------------------
   CONTENT 
---------------------------------- */
/* -------------------------------
   SIDEBAR 
---------------------------------- */
/* -------------------------------
   BOTTOM 
---------------------------------- */
/* -------------------------------
   FOOTER 
---------------------------------- */
/* -------------------------------
   RESPONSIVE 
---------------------------------- */
/* Bootstrap breakpoints */
