/*--------------------------------------
-------REGISTRATION--------
--------------------------------------*/

#bg {
	margin-top: 60px;
	padding-top: 20px;
	width: 100%;
	min-height: 100vh;
	background-image: url('../uploads/bg.jpg');
	position: relative;
	background-size: cover;
}

#login-form form, #registration-form form{
	margin: 0 30px;
}

#add-book-form input[type="file"],
#add-book-form label {
	margin-left: 20px;
}

input[type=text],
input[type=password],
input[type=email],
select.form-control,
input[type=number] {
	display: inline-block;
	width: calc(100% - 40px);
	height: 40px;
	margin-top: 14px;
	margin-left: -5px;
	padding-left: 10px;
	background-color: #FFFFFF;
	border-radius: 0px 4px 4px 0px/5px 5px 4px 4px;
	border: solid 1px #CBC9C9;
	-webkit-border-radius: 0px 4px 4px 0px/5px 5px 4px 4px;
	-moz-border-radius: 0px 4px 4px 0px/0px 0px 4px 4px;
	-webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.09);
	-moz-box-shadow: 1px 2px 5px rgba(0,0,0,.09);
	box-shadow: 1px 2px 5px rgba(0,0,0,.09);
}

#add-book-form textarea.form-control {
	display: inline-block;
	height: 100px;
	width: calc(100% - 70px);
	margin-top: 6px;
	margin-left: -5px;
	padding-left: 10px;
	background-color: #FFFFFF;
	border-radius: 0px 4px 4px 0px/5px 5px 4px 4px;
	border: solid 1px #CBC9C9;
	-webkit-border-radius: 0px 4px 4px 0px/5px 5px 4px 4px;
	-moz-border-radius: 0px 4px 4px 0px/0px 0px 4px 4px;
	-webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.09);
	-moz-box-shadow: 1px 2px 5px rgba(0,0,0,.09);
	box-shadow: 1px 2px 5px rgba(0,0,0,.09);
}


#login-icon{
	width: 40px;
	height: 40px;
	line-height: 40px;
	vertical-align: middle;
	text-align: center;
	padding-top:11px;
	background-color: #3A57AF;
	display: inline-block;
	color: #fff;
	margin-bottom: 3px;
	-webkit-border-radius: 4px 0px 0px 4px;
	-moz-border-radius: 4px 0px 0px 4px;
	-webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.09);
	-moz-box-shadow: 1px 2px 5px rgba(0,0,0,.09);
	box-shadow: 1px 2px 5px rgba(0,0,0,.09);
}
